.app {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.header {
  display: flex;
  align-items: center;
  background: #1a2b34;
  padding: 10px;
  font-weight: bold;
}

.nav {
  margin-left: auto;
  margin-right: 0;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
}

.row > div {
  width: 50%;
  padding: 4px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

@media (max-width: 800px) {
  .row {
    flex-direction: column;
    align-items: unset;
  }

  .row > div {
    width: 100%;
  }
}

h1 {
  font-size: 18px;
  color: white;
}

h2 {
  color: #1a2b34;
  font-size: 16px;
  padding: 10px;
}

body {
  background: #efefef;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

main {
  flex: 1;
  display: flex;
}

#root {
  flex: 100%;
  display: flex;
}

a,
a:visited {
  text-decoration: underline;
  color: white;
}
